################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PythonChallenge/PythonChallenge.sln
/PythonChallenge/PythonChallenge.pyproj
/PythonChallenge/.vs/PythonChallenge/v15/.suo
